
.site-slide{
	position: relative;
	.item{
		@include custom_background_img;
	}
	.item{
		height: 600px;
		display: flex;
		align-items: center;
		.title{
			font-size: 32px;
			font-weight: bold;
			color: $color-274;
			margin-bottom: 15px;
		}
		p{
			font-size: 16px;
			line-height: 1.7;
			color: #363F51;
			font-style: italic;
			margin-bottom: 0;
		}
	}
	@include custom_dots;
	.owl-theme .owl-nav.disabled+.owl-dots{
		margin-top: 0;
		position: absolute;
		bottom:20px;
		left: 0;
		text-align: center;
		width: 100%;
	}
	.site-search{
		position: absolute;
		bottom:50px;
		left: 0;
		width: 100%;
		z-index: 9;
		display: flex;
		justify-content: center;
		form{
			max-width: 700px;
			width: 100%;
			display: flex;
			align-items: center;
			position: relative;
			.form-control{
				height: 60px;
				font-size: 15px;
				color: #707070;
				padding-left: 10px;
				padding-right: 8px;
				background-color:#F1F1F5;
				border-color: #DCDDE4;
				border-radius:10px;
				&:focus{
					box-shadow: none;
					outline: none;
					border-color: #DCDDE4;
				}
			}
			.selecter{
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
				border-right: 0;
				flex:0 0 200px;
				max-width: 200px;
				/*for firefox*/
				-moz-appearance: none;
				/*for chrome*/
				-webkit-appearance:none;
				appearance: none;
				background-image:url(../images/icon/down-arrow.png);
				background-size: 15px;
				background-position: 175px center;
				background-repeat:no-repeat;
			}
			input{
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;

				font-style: italic;
			}
			button{
				position: absolute;
				top: 0;
				right: 0;
				width: 60px;
				height: 60px;
				background: none;
				border:none;
				font-size: 20px;
				color: #707070;
				cursor: pointer;
			}
		}
	}
}

.title{
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.heading{
		font-size: 24px;
		font-weight: bold;
		color: #3B3B3D;
		padding-left: 10px;
		border-left: 5px solid $color-290;
		a{
			color: #3B3B3D;
		}
	}
	.more{
		font-size: 15px;
		color: $color-290;
	}
}

.site-home{
	padding:110px 0px;
	&_content{
		&_item{
			margin-bottom: 60px;
		}
	}
}

.row-custom{
	margin:0px -5px;
	.col-custom{
		padding:0px 5px;
	}
}

.news{
	padding:20px;
	border-radius: 10px;
	background:$color-white;
	box-shadow: 0 0 10px #ccc;
	margin-bottom: 20px;
	.user{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		img{
			width: 42px;
			height: 42px;
			border-radius: 50%;
			object-fit: cover;
		}
		&_name{
			padding-left: 15px;
			.name{
				a{
					font-size: 14px;
					color: #1E1D1D;
					display: block;
					margin-bottom: 10px;
				}
			}
			.date-times{
				display: flex;
				align-items: center;
				span{
					padding-right: 10px;
					font-size: 12px;
					color: #1E1D1D;
				}
			}
		}
	}
	.status{
		padding-left: 57px;
		.description{
			margin-bottom: 15px;
			p{
				font-size: 14px;
				color: #1E1D1D;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.startus_img{
			position: relative;
			margin-bottom: 15px;
			.play{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.video{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include custom_visi_hide;
				.video-child{
					width: 100%;
					height: 100%;
					background: #000;
				}
			}
			.pause{
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				width: 58px;
				height: 58px;
				border-radius: 50%;
				color: #1E1D1D;
				background:rgba(255,255,255,0.8);
				z-index: 9999;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 28px;
				@include custom_visi_hide;
			}
		}
		.active{
			.video{
				@include custom_visi_block;
			}
			&:hover{
				.pause{
					@include custom_visi_block;
				}
			}
		}
	}
}
.list_news{
	@include custom_nav;
}
.list_news_item{
	padding:15px;
	background:$color-white;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-right: 1px;
	.user{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		img{
			width: 55px;
			height: 55px;
			border-radius: 50%;
			object-fit: cover;
		}
		&_name{
			padding-left: 15px;
			.name{
				a{
					font-size: 14px;
					color: #1E1D1D;
					display: block;
					margin-bottom: 10px;
				}
			}
			.date-times{
				display: flex;
				align-items: center;
				span{
					padding-right: 10px;
					font-size: 12px;
					color: #1E1D1D;
				}
			}
		}
	}
	.description{
		margin-bottom: 15px;
		p{
			font-size: 14px;
			color: #1E1D1D;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.list_icon{
	display: flex;
	align-items: center;
	a{
		padding-right: 10px;
		color: #1E1D1D;
		font-size: 14px;
		display: flex;
		align-items: center;
		position: relative;
		&:hover{
			.list-mxh{
				@include custom_visi_block;
			}
		}
		.list-mxh{
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99;
			min-width: 50px;
			text-align: center;
			padding:5px;
			display: flex;
			align-items: center;
			@include custom_visi_hide;
			background: #fff;
			border:1px solid $color-290;
			span{
				display: block;
				width: 25px;
				height: 25px;
				background:$color-290;
				border-radius: 50%;
				line-height: 25px;
				text-align: center;
				color: #fff;
				font-size: 13px;
				margin:0 2.5px;
				padding:0;
				i{
					font-size: 13px;
					padding-left: 0;
				}
			}
		}
		i{
			font-size: 17px;
		}
		&:hover{
			color: $color-290;
		}
		span{
			padding-left: 5px;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}

.site-search-word{
	.content{
		padding-top: 35px;
		h3{
			font-size: 18px;
			font-weight: bold;
			color: #3b3b3b;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		p{
			font-size: 14px;
			line-height: 1.5;
			color: #3b3b3b;
		}
	}
}

.site-support{
	background: #323A4D;
	padding: 50px 0;
	color: #fff;
	border-bottom: 1px solid #ccc;
	&_content{
		h3{
			font-size: 24px;
			font-weight: bold;
			color: #fff;
			margin-bottom: 30px;
		}
		p{
			font-size: 15px;
			margin-bottom: 30px;
			color: #fff;
			line-height: 1.5;
		}
		ul{
			li{
				font-size: 15px;
				font-weight: bold;
				color: #fff;
				padding-bottom: 15px;
				&:last-child{
					padding-bottom: 0;
				}
				a{
					color: #fff;
				}
			}
		}
	}
	&_form{
		.form-group{
			margin-bottom: 25px;
			position: relative;
			&:before{
				content: "\f2c0";
				font-family: fontawesome;
				position: absolute;
				top: 50%;
				left: 20px;
				font-size: 18px;
				color: #bcbcbc;
				transform:translate(0,-50%);
			}
			&:nth-child(2){
				&:before{
					content: "\f095";
				}
			}
			&:nth-child(3){
				&:before{
					content: "\f0e6";
					top: 23%;
				}
			}
		}
		.form-control{
			background:#545A65;
			border:1px solid #707070;
			border-radius: 0;
			font-size: 15px;
			color: #fff !important;
			padding-left:45px;
			&::placeholder{
				color: #bcbcbc;
			}
			&:focus{
				box-shadow: none;
			}
		}
		input{
			height: 50px;
		}
	}
	.btn{
		min-width:160px;
		height: 50px;
		font-size: 16px;
		color: #fff;
		border-radius:0;
		width: max-content;
		background:$color-290;
		padding:0px 20px;
		line-height: 50px;
	}
}

@media screen and (max-width: 1199px) {
	.site-slide .item{
		height: 400px;
	}
}

@media screen and (max-width: 991px) {
	.title .heading{
		font-size: 20px;
	}
	.title{
		flex-wrap: wrap;
	}
	.title .more{
		padding-top: 10px;
		display: block;
	}
	.list_news_item .user img{
		width: 40px;
		height: 40px;
	}
	.list_news_item .user_name .date-times span{
		font-size: 11px;
	}
	.site-slide .item{
		height: 300px;
	}
	.site-slide .site-search{
		display: none;
	}
	.site-home{
		padding:50px 0px;
	}
	.news .status .startus_img .play img{
		width: 40px;
		height: 40px;
	}
	
}

@media screen and (max-width: 767px) {
	.site-support_content , .site-search-word .content{
		margin-bottom: 30px;
		padding-top: 0;
	}
	.site-sidebar_video_list .video{
		height: 195px;
	}
	.title .more{
		display: none;
	}
	.news .status{
		padding-left: 0;
	}
}