@charset "UTF-8";
/*!
Theme Name: Lao động
Author: Nam Huy
Author URI: https://huycv.com
Description: A WooCommerce customized theme for Nam Quang Optical Brand in Vietnam.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: MIT
Text Domain: ...
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- The content
	- Header
	- Footer
	- General
	- Home
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/* Ws var colors */
/*02 Font-size */
/*03 Ws247 Mixin */
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a:hover, a:focus, a:active {
  color: #191970;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* reset
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #363F51;
}

a {
  text-decoration: none !important;
}

img,
a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clear {
  clear: both;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.5)), to(transparent));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* Navigation
--------------------------------------------- */
.list-number-next-tab {
  margin-bottom: 30px;
}
.list-number-next-tab ul li {
  display: inline-block;
}
.list-number-next-tab ul li a {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 7px 15px;
  border: 1px solid #ddd;
  color: #465363;
}
.list-number-next-tab ul li .active {
  border: 1px solid #d60c0c;
  background-color: #d60c0c;
  color: white;
}

/* Posts and pages
--------------------------------------------- */
.the_content h1 {
  font-size: 20px;
  font-weight: bold;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.the_content h2, .the_content h3, .the_content h4, .the_content h5, .the_content h6 {
  font-weight: bold;
  color: #666;
  margin-bottom: 30px;
}
.the_content h6 {
  font-size: 14px;
}
.the_content h5 {
  font-size: 14px;
}
.the_content h4 {
  font-size: 16px;
}
.the_content h3 {
  font-size: 16px;
}
.the_content h2 {
  font-size: 18px;
  line-height: 1.5;
}
.the_content p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 30px;
}
.the_content ul {
  list-style: disc;
  padding-left: 18px;
  padding-bottom: 20px;
}
.the_content ul li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ul li a {
  color: #ff5912;
}
.the_content ol {
  list-style: decimal;
  padding-left: 18px;
  padding-bottom: 20px;
}
.the_content ol li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ol li a {
  color: #ff5912;
}
.the_content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eb2b2d;
}
.the_content blockquote p {
  margin: 0 !important;
}
.the_content code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: .85rem;
  color: #e83e8c;
}
.the_content table > tbody > tr > td, .the_content table > tbody > tr > th, .the_content table > tfoot > tr > td, .the_content table > tfoot > tr > th, .the_content table > thead > tr > td, .the_content table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.the_content iframe {
  margin: auto;
}
.the_content .syntaxhighlighter {
  padding: 10px 0;
}

/*04 keyframes */
@-webkit-keyframes namdz {
  0% {
    -webkit-animation: namdz 1s infinite ease-in-out;
            animation: namdz 1s infinite ease-in-out;
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes namdz {
  0% {
    -webkit-animation: namdz 1s infinite ease-in-out;
            animation: namdz 1s infinite ease-in-out;
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
/* Header
--------------------------------------------- */
.header {
  height: 60px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  position: relative;
  z-index: 9;
}
.header_logo {
  padding: 5px 0px;
}
.header_menu-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header_menu-login .nav ul li {
  position: relative;
  display: inline-block;
  line-height: 60px;
  padding: 0px 20px;
}
.header_menu-login .nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header_menu-login .nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header_menu-login .nav ul li ul li {
  display: block;
  line-height: 1.5;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.header_menu-login .nav ul li ul li:hover {
  background: #2900CD;
}
.header_menu-login .nav ul li ul li:hover a {
  color: #fff;
}
.header_menu-login .nav ul li ul li:last-child {
  border: 0;
}
.header_menu-login .nav ul li ul li:first-child {
  padding-left: 15px;
}
.header_menu-login .nav ul li ul li a {
  font-weight: 500;
}
.header_menu-login .nav ul li:first-child {
  padding-left: 0;
}
.header_menu-login .nav ul li a {
  font-size: 14px;
  color: #3B3B3D;
  font-weight: 600;
}
.header_menu-login .nav ul li a:hover {
  color: #2900CD;
}
.header_menu-login .login {
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_menu-login .login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #3B3B3D;
  font-weight: 600;
}
.header_menu-login .login a:hover {
  color: #2900CD;
}
.header_menu-login .login a span {
  padding-left: 10px;
}
.header_menu-login .login .icon-mobile {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-height: auto;
  margin-right: 10px;
  display: none;
}
.header_menu-login .login .icon-mobile svg {
  width: 30px;
  height: 25px;
  fill: #000;
}
.header_menu-login .login .search-mobile {
  margin-right: 10px;
  display: none;
}
.header_menu-login .login .search-mobile svg {
  width: 25px;
  height: 25px;
  fill: #000;
}

@media screen and (max-width: 1199px) {
  .header_menu-login .nav ul li {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 991px) {
  .header_menu-login .nav {
    display: none;
  }

  .header {
    height: auto;
  }

  .header_menu-login .login {
    padding-left: 0;
  }

  .header_menu-login .login a span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header_menu-login .login a span {
    display: none;
  }
}
/* Home
--------------------------------------------- */
.site-slide {
  position: relative;
}
.site-slide .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.site-slide .item {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-slide .item .title {
  font-size: 32px;
  font-weight: bold;
  color: #274E82;
  margin-bottom: 15px;
}
.site-slide .item p {
  font-size: 16px;
  line-height: 1.7;
  color: #363F51;
  font-style: italic;
  margin-bottom: 0;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  z-index: 99;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots button {
  outline: none;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots button span {
  width: 35px;
  height: 3px;
  background: #79add3;
  border-radius: 0;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots .active span {
  background: #116caf;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 100%;
}
.site-slide .site-search {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-slide .site-search form {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.site-slide .site-search form .form-control {
  height: 60px;
  font-size: 15px;
  color: #707070;
  padding-left: 10px;
  padding-right: 8px;
  background-color: #F1F1F5;
  border-color: #DCDDE4;
  border-radius: 10px;
}
.site-slide .site-search form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #DCDDE4;
}
.site-slide .site-search form .selecter {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  max-width: 200px;
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/icon/down-arrow.png);
  background-size: 15px;
  background-position: 175px center;
  background-repeat: no-repeat;
}
.site-slide .site-search form input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-style: italic;
}
.site-slide .site-search form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  font-size: 20px;
  color: #707070;
  cursor: pointer;
}

.title {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title .heading {
  font-size: 24px;
  font-weight: bold;
  color: #3B3B3D;
  padding-left: 10px;
  border-left: 5px solid #2900CD;
}
.title .heading a {
  color: #3B3B3D;
}
.title .more {
  font-size: 15px;
  color: #2900CD;
}

.site-home {
  padding: 110px 0px;
}
.site-home_content_item {
  margin-bottom: 60px;
}

.row-custom {
  margin: 0px -5px;
}
.row-custom .col-custom {
  padding: 0px 5px;
}

.news {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.news .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.news .user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .user_name {
  padding-left: 15px;
}
.news .user_name .name a {
  font-size: 14px;
  color: #1E1D1D;
  display: block;
  margin-bottom: 10px;
}
.news .user_name .date-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .user_name .date-times span {
  padding-right: 10px;
  font-size: 12px;
  color: #1E1D1D;
}
.news .status {
  padding-left: 57px;
}
.news .status .description {
  margin-bottom: 15px;
}
.news .status .description p {
  font-size: 14px;
  color: #1E1D1D;
  margin-bottom: 15px;
}
.news .status .description p:last-child {
  margin-bottom: 0;
}
.news .status .startus_img {
  position: relative;
  margin-bottom: 15px;
}
.news .status .startus_img .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news .status .startus_img .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .startus_img .video .video-child {
  width: 100%;
  height: 100%;
  background: #000;
}
.news .status .startus_img .pause {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  color: #1E1D1D;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .active .video {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .active:hover .pause {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.list_news .owl-nav .owl-prev, .list_news .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0 !important;
  border: 0 !important;
  background: none !important;
  outline: none !important;
}
.list_news .owl-nav .owl-prev span, .list_news .owl-nav .owl-next span {
  display: block;
  width: 30px;
  height: 90px;
  background: rgba(41, 0, 205, 0.7);
  font-size: 30px;
  line-height: 90px;
  color: #FFFFFF;
}
.list_news .owl-nav .owl-prev {
  left: 0;
}
.list_news .owl-nav .owl-next {
  right: 0;
}

.list_news_item {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1px;
}
.list_news_item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.list_news_item .user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list_news_item .user_name {
  padding-left: 15px;
}
.list_news_item .user_name .name a {
  font-size: 14px;
  color: #1E1D1D;
  display: block;
  margin-bottom: 10px;
}
.list_news_item .user_name .date-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list_news_item .user_name .date-times span {
  padding-right: 10px;
  font-size: 12px;
  color: #1E1D1D;
}
.list_news_item .description {
  margin-bottom: 15px;
}
.list_news_item .description p {
  font-size: 14px;
  color: #1E1D1D;
  margin-bottom: 15px;
}
.list_news_item .description p:last-child {
  margin-bottom: 0;
}

.list_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list_icon a {
  padding-right: 10px;
  color: #1E1D1D;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.list_icon a:hover .list-mxh {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.list_icon a .list-mxh {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  min-width: 50px;
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #fff;
  border: 1px solid #2900CD;
}
.list_icon a .list-mxh span {
  display: block;
  width: 25px;
  height: 25px;
  background: #2900CD;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  margin: 0 2.5px;
  padding: 0;
}
.list_icon a .list-mxh span i {
  font-size: 13px;
  padding-left: 0;
}
.list_icon a i {
  font-size: 17px;
}
.list_icon a:hover {
  color: #2900CD;
}
.list_icon a span {
  padding-left: 5px;
}
.list_icon a:last-child {
  padding-right: 0;
}

.site-search-word .content {
  padding-top: 35px;
}
.site-search-word .content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.site-search-word .content p {
  font-size: 14px;
  line-height: 1.5;
  color: #3b3b3b;
}

.site-support {
  background: #323A4D;
  padding: 50px 0;
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.site-support_content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.site-support_content p {
  font-size: 15px;
  margin-bottom: 30px;
  color: #fff;
  line-height: 1.5;
}
.site-support_content ul li {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 15px;
}
.site-support_content ul li:last-child {
  padding-bottom: 0;
}
.site-support_content ul li a {
  color: #fff;
}
.site-support_form .form-group {
  margin-bottom: 25px;
  position: relative;
}
.site-support_form .form-group:before {
  content: "\f2c0";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 18px;
  color: #bcbcbc;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.site-support_form .form-group:nth-child(2):before {
  content: "\f095";
}
.site-support_form .form-group:nth-child(3):before {
  content: "\f0e6";
  top: 23%;
}
.site-support_form .form-control {
  background: #545A65;
  border: 1px solid #707070;
  border-radius: 0;
  font-size: 15px;
  color: #fff !important;
  padding-left: 45px;
}
.site-support_form .form-control::-webkit-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control:-ms-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control::-ms-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control::placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.site-support_form input {
  height: 50px;
}
.site-support .btn {
  min-width: 160px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #2900CD;
  padding: 0px 20px;
  line-height: 50px;
}

@media screen and (max-width: 1199px) {
  .site-slide .item {
    height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .title .heading {
    font-size: 20px;
  }

  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .title .more {
    padding-top: 10px;
    display: block;
  }

  .list_news_item .user img {
    width: 40px;
    height: 40px;
  }

  .list_news_item .user_name .date-times span {
    font-size: 11px;
  }

  .site-slide .item {
    height: 300px;
  }

  .site-slide .site-search {
    display: none;
  }

  .site-home {
    padding: 50px 0px;
  }

  .news .status .startus_img .play img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .site-support_content, .site-search-word .content {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .site-sidebar_video_list .video {
    height: 195px;
  }

  .title .more {
    display: none;
  }

  .news .status {
    padding-left: 0;
  }
}
/* general
--------------------------------------------- */
.btn {
  height: 40px;
  padding: 0;
  line-height: 40px;
  min-width: 160px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
}

.btn-gray {
  background: #A19EAC;
}

.btn-primary {
  background: #2900CD;
}

.main-page {
  background: #F8F8F8;
}

.back-post {
  margin-bottom: 30px;
}
.back-post a {
  font-size: 24px;
  font-weight: bold;
  display: block;
  color: #3B3B3D;
}
.back-post a i {
  padding-right: 10px;
}

/* registration
--------------------------------------------- */
.registration {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .registration {
    padding: 30px 0px;
  }
}
.registration:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.2);
}
@media screen and (max-width: 991px) {
  .registration_content {
    margin-bottom: 40px;
  }
}
.registration_content .list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.registration_content .list-img a {
  margin-right: 45px;
  display: inline-block;
}
.registration_content .list-img a:last-child {
  margin-right: 0;
}
.registration_content h1 {
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.5;
}
.registration_form {
  background: #fff;
  -webkit-box-shadow: 0 0 10px #7f7f7f;
          box-shadow: 0 0 10px #7f7f7f;
  padding: 40px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.registration_form .row-custom {
  margin: 0px -5px;
}
.registration_form .row-custom .col-custom {
  padding: 0px 5px;
}
.registration_form h2 {
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}
.registration_form form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.registration_form form .form-control {
  height: 50px;
  background: #F1F1F5;
  border: 1px solid #B5B9C3;
  font-size: 14px;
  color: #878CA0;
  border-radius: 5px;
  padding-left: 10px;
}
.registration_form form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2900CD;
}
.registration_form form span {
  font-size: 13px;
  color: #878CA0;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
}
.registration_form form .focus {
  border-color: red;
}
.registration_form form .active {
  border-color: #2900CD;
  background: #fff;
}
.registration_form form .active::-webkit-input-placeholder {
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.registration_form form .active:-ms-input-placeholder {
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.registration_form form .active::-ms-input-placeholder {
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.registration_form form .active::placeholder {
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.registration_form form .active ~ span {
  color: #2900CD;
  top: -2%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 5px;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
  visibility: visible;
}
.registration_form form .btn {
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 195px;
  border-radius: 5px;
  line-height: 40px;
  padding: 0;
  font-size: 14px;
  color: #fff;
  background: #2900CD;
}
.registration_form .directional {
  font-size: 15px;
  color: #333;
}
.registration_form .directional a {
  color: #2900CD;
  font-weight: bold;
  padding-left: 5px;
}
.registration .select-region h2 {
  margin-bottom: 30px;
}
.registration .select-region form .btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.registration .select-region form .check-radio {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.registration .language {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.registration .language a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 0px 20px;
}
.registration .language a:hover {
  color: #F7BD00;
}
.registration .language .active {
  color: #F7BD00;
}
.registration .forgot {
  font-size: 14px;
  color: #333;
}
.registration .forgot:hover {
  color: #2900CD;
}

.check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check:hover {
  color: #22A064;
}
.check:hover input:checked ~ .checkmark {
  background-color: #22A064;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid #adadad;
  background: #eff1f0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.check .checkmark:after {
  content: "\f00c";
  font-family: fontawesome;
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}
.check input:checked ~ .checkmark {
  border: 0;
  background-color: #22A064;
}
.check input:checked ~ .text-color {
  color: #fff;
}
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Sidebar
--------------------------------------------- */
.site-sidebar .heading {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid #F7F5F5;
}
.site-sidebar .heading a {
  color: #3b3b3b;
  position: relative;
}
.site-sidebar .heading a:before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2900CD;
}
.site-sidebar_partner_list .parter {
  margin-bottom: 20px;
}
.site-sidebar_partner_list .parter:last-child {
  margin-bottom: 0;
}
.site-sidebar_partner_list .parter:hover .text h3 a {
  color: #2900CD;
}
.site-sidebar_partner_list .parter .text {
  padding-left: 20px;
}
.site-sidebar_partner_list .parter .text h3 a {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  font-weight: 600;
}
.site-sidebar_video_list .video {
  position: relative;
  margin-bottom: 20px;
  height: 210px;
}
.site-sidebar_video_list .video .img-top {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-sidebar_video_list .video:last-child {
  margin-bottom: 0;
}
.site-sidebar_video_list .video .play-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-sidebar_video_list .video .play-sidebar img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.site-sidebar .advertisement {
  margin-bottom: 20px;
}
.site-sidebar .advertisement:last-child {
  margin-bottom: 0;
}
.site-sidebar_information ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #000;
}
.site-sidebar_information ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.site-sidebar_information ul li:first-child {
  padding-top: 0;
}
.site-sidebar .mb-bottom {
  margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .site-sidebar_partner_list .parter .text h3 a {
    font-size: 12px;
  }

  .site-sidebar_video_list .video {
    height: 120px;
  }
}
@media screen and (max-width: 767px) {
  .site-sidebar_partner_list .parter .text h3 a {
    font-size: 14px;
  }
}
/* Form 2
--------------------------------------------- */
.site-form-page {
  padding: 50px 0px;
  background: #F8F8F8;
}
.site-form-page .search-form {
  margin-bottom: 30px;
}
.site-form-page .search-form .form-control {
  height: 40px !important;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
}
.site-form-page .search-form select {
  background: #EAEAEA;
}
.site-form-page .search-form input {
  padding-left: 10px;
  font-style: italic;
}
.site-form-page .search-form .relative {
  position: relative;
}
.site-form-page .search-form .relative .btn {
  border: 0;
  border-radius: 0;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  min-width: auto;
  color: #333;
}

.category ul {
  border: 1px solid #ccc;
  border-top: 2px solid #2900CD;
}
.category ul li {
  padding: 18px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.category ul li:last-child {
  border-bottom: 0;
}
.category ul li:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.category ul li:hover a {
  color: #2900CD;
}
.category ul li a {
  font-size: 14px;
  color: #000;
  display: block;
}
.category ul li .active {
  color: #2900CD;
}

.form4-content {
  padding-left: 50px;
}
.form4-content .form-group {
  margin-bottom: 40px;
}
.form4-content .form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.form4-content .form-group input {
  height: 50px;
  border-radius: 3px;
  border: 1px solid #707070;
  padding-left: 15px;
}
.form4-content .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2900CD;
}
.form4-content .form-group textarea {
  border-radius: 3px;
  border: 1px solid #707070;
  padding-left: 15px;
}
.form4-content .form-group textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2900CD;
}
.form4-content .list-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -5px;
}
.form4-content .list-upload .col-md-custom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0px 5px;
}
.form4-content .list-upload .upload_content {
  background: #fff;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 120px;
}
.form4-content .list-upload .upload_content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form4-content .list-upload .upload_content i {
  font-size: 40px;
}
.form4-content .list-upload .upload_content .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form4-content .btn {
  height: 40px;
  line-height: 40px;
  min-width: 160px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-left: 15px;
}

@media screen and (max-width: 1199px) {
  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (max-width: 991px) {
  .form4-content {
    padding-left: 0;
  }

  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .category {
    margin-bottom: 20px;
  }

  .form4-content .form-group label {
    font-size: 15px;
  }

  .form4-content .form-group {
    margin-bottom: 20px;
  }

  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .form4-content .form-group:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
  }
}
/* News
--------------------------------------------- */
.site-news-page {
  padding: 50px 0px;
}
.site-news-page_content .title {
  margin-bottom: 50px;
}
.site-news-page_content .title-page {
  margin-bottom: 30px;
}
.site-news-page_content .title-page h1 {
  font-size: 20px;
  font-weight: bold;
  color: #3b3b3b;
  text-transform: uppercase;
}
@media screen and (min-width: 1300px) {
  .site-news-page .site-news-page_content {
    padding-right: 45px;
  }
}

.blog {
  margin-bottom: 30px;
}
.blog:hover h3 a {
  color: #2900CD;
}
.blog:hover .overflow img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog .overflow {
  display: block;
  overflow: hidden;
}
.blog h3 a {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  color: #3b3b3b;
  font-weight: 600;
  margin: 20px 0px;
}
.blog p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* News details
--------------------------------------------- */
.site-post-relateto {
  padding: 0px 0px 50px;
}
.site-post-relateto .title-page {
  margin-bottom: 30px;
}
.site-post-relateto .title-page h2 {
  font-size: 20px;
  font-weight: bold;
  color: #3b3b3b;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .the_content p {
    margin-bottom: 20px;
  }

  .site-post-relateto {
    padding-bottom: 20px;
  }
}
/* Post details
--------------------------------------------- */
.site-post-details {
  padding: 50px 0;
}

.comment {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.comment_form .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}
.comment_form .form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}
.comment_form .form textarea {
  background: #FAFAFA;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.comment_content_list_item {
  margin-bottom: 20px;
}
.comment_content_list_item .item {
  margin-bottom: 20px;
}
.comment_content_list_item .child_comment {
  padding-left: 65px;
}
.comment_content_list_item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.comment_content_list_item .user .img {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  max-width: 55px;
  height: 55px;
}
.comment_content_list_item .user .img a {
  display: block;
  width: 100%;
  height: 100%;
}
.comment_content_list_item .user .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment_content_list_item .user .text {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  background: #FAFAFA;
  border: 1px solid #EBEBEB;
}
.comment_content_list_item .user .text .name {
  display: block;
  margin-bottom: 10px;
}
.comment_content_list_item .user .text .name a {
  display: block;
  color: #3b3b3b;
  font-weight: bold;
  padding-left: 5px;
}
.comment_content_list_item .user .text .description {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
.comment_content_list_item .date {
  padding-left: 66px;
}
.comment_content_list_item .date ul li {
  display: inline-block;
  font-size: 14px;
  color: #000;
  padding: 0px 15px;
}
.comment_content_list_item .date ul li:last-child {
  padding-right: 0;
}
.comment_content_list_item .date ul li:first-child {
  padding-left: 0;
}
.comment_content_list_item .date ul li a {
  color: #000;
}
.comment_content_list_item .date ul li a:hover {
  color: #2900CD;
}
.comment_content_list_item .date ul .date {
  color: #B7B7B7;
}
.comment_number {
  display: block;
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 20px;
}

.post-details_sidebar .heading {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b;
}
.post-details_sidebar_item {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.post-details_sidebar .news {
  padding: 0px;
  border-radius: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 0px #ccc;
  box-shadow: 0 0 0px #ccc;
}
.post-details_sidebar .news .user {
  margin-bottom: 10px;
}
.post-details_sidebar .news .status .description p {
  font-size: 13px;
  margin-bottom: 10px;
}
.post-details_sidebar .more {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #2900CD;
}

@media screen and (max-width: 1199px) {
  .comment_form .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }

  .comment_form .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .comment_content_list_item .date {
    padding: 0;
  }

  .comment_content_list_item .child_comment .date {
    text-align: right;
  }
  .comment_content_list_item .child_comment .date ul li {
    padding: 0px 5px;
    font-size: 13px;
  }
  .comment_content_list_item .child_comment .user .text p {
    font-size: 12px;
  }

  .comment_form .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .comment_form .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
}
/* personal-information
--------------------------------------------- */
.personal-information {
  padding: 80px 0px;
  min-height: 100vh;
}
.personal-information .xt-email {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #2900CD;
}

.sidebar_information .user {
  margin-bottom: 50px;
}
.sidebar_information .user span {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}
.sidebar_information .list_function ul li {
  padding-bottom: 35px;
}
.sidebar_information .list_function ul li:last-child {
  padding-bottom: 0;
}
.sidebar_information .list_function ul li a {
  font-size: 15px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar_information .list_function ul li a:hover {
  color: #2900CD;
}
.sidebar_information .list_function ul li a:hover i {
  color: #2900CD;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sidebar_information .list_function ul li a i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  max-width: 12%;
  color: #878CA0;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sidebar_information .list_function ul li .active {
  color: #2900CD;
}
.sidebar_information .list_function ul li .active i {
  color: #2900CD;
}

.container-label2 {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-label2:hover {
  color: #2900CD;
}
.container-label2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-label2 .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #fff;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.container-label2 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.active-check .checkmark {
  border: 0;
  background-color: #2900CD;
}
.active-check .text-color {
  color: #fff;
}
.active-check .checkmark:after {
  display: block;
}

.form_information {
  background: #fff;
  padding: 40px 85px;
}
.form_information h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.form_information label {
  font-size: 15px;
  color: #333;
}
.form_information .form-group {
  margin-bottom: 20px;
}
.form_information .form-group .form-control {
  height: 40px !important;
  border: 1px solid #B1B1B1;
  padding-left: 15px;
  font-size: 16px;
  color: #000;
  font-style: italic;
}
.form_information .form-group .form-control::-webkit-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control:-ms-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control::-ms-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control::placeholder {
  color: #878CA0;
}
.form_information .file-upload {
  position: relative;
  padding: 0px 30px;
  height: 40px;
  line-height: 38px;
  border-radius: 3px;
  margin-top: 15px;
}
.form_information .file-upload .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form_information.-length .form-group {
  margin-bottom: 25px;
}
.form_information.-length .form-group:last-child {
  padding-top: 30px;
}

.datepicker {
  background-image: url(../images/icon/date.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
}

@media screen and (max-width: 767px) {
  .personal-information .sidebar_information {
    margin-bottom: 30px;
  }

  .form_information {
    padding: 30px 20px;
  }

  .form_information label {
    display: block;
    margin-bottom: 15px;
  }

  .personal-information {
    padding: 50px 0px;
  }
}
/* Footer
--------------------------------------------- */
.footer {
  background: #323A4D;
  padding: 50px 0px 10px 0px;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer ul li {
  line-height: 1.5;
  font-size: 14px;
  color: #fff;
  padding-bottom: 10px;
}
.footer ul li:last-child {
  padding-bottom: 0;
}
.footer ul li a:hover {
  color: #62b6f7;
}
.footer .mxh a {
  font-size: 20px;
  padding-right: 10px;
}
.footer_address {
  max-width: 350px;
}
.footer_address_custom {
  margin-top: -100px;
}
.footer_address, .footer_menu, .footer_connect, .footer .img {
  margin-bottom: 40px;
}
.footer .dowload img {
  width: 100%;
}

.scroll-top {
  display: none;
}

.active-scroll {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999;
}
.active-scroll a {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  background: #2900CD;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  border-radius: 3px;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #2900CD;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #2900CD;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.full-search {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.8);
  left: 0;
  top: 0;
  z-index: 999999999;
  display: none;
}
.full-search .input-search {
  width: 70%;
  margin: 20% auto;
  border-bottom: 1px solid #ffff;
}
.full-search .input-search input {
  width: 100%;
  outline: none;
  background: none;
  width: calc(100% - 110px);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  padding: 20px 20px;
  border: 0;
}
.full-search .input-search input:focus {
  color: #fff;
}
.full-search .input-search input::-webkit-input-placeholder {
  color: #fff;
}
.full-search .input-search input:-ms-input-placeholder {
  color: #fff;
}
.full-search .input-search input::-ms-input-placeholder {
  color: #fff;
}
.full-search .input-search input::placeholder {
  color: #fff;
}
.full-search .input-search button {
  width: 100px;
  color: #fff;
  font-size: 20px;
  background: none;
  outline: none;
  cursor: pointer;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  padding: 20.6px 20px;
  border: 0;
}
.full-search .times-search {
  position: absolute;
  top: 50px;
  right: 50px;
}
.full-search .times-search a {
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .footer .dowload img {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer_address_custom {
    margin-top: 0;
  }

  .footer_address, .footer_menu, .footer_connect, .footer .img {
    margin-bottom: 30px;
  }

  .footer {
    padding: 30px 0px;
  }
}
