/* Footer
--------------------------------------------- */
.footer {
  background: #323A4D;
  padding: 50px 0px 10px 0px;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer ul li {
  line-height: 1.5;
  font-size: 14px;
  color: #fff;
  padding-bottom: 10px;
}
.footer ul li:last-child {
  padding-bottom: 0;
}
.footer ul li a:hover {
  color: #62b6f7;
}
.footer .mxh a {
  font-size: 20px;
  padding-right: 10px;
}
.footer_address {
  max-width: 350px;
}
.footer_address_custom {
  margin-top: -100px;
}
.footer_address, .footer_menu, .footer_connect, .footer .img {
  margin-bottom: 40px;
}
.footer .dowload img {
  width: 100%;
}