/* Form 2
--------------------------------------------- */
.site-form-page {
  padding: 50px 0px;
  background: #F8F8F8;
}
.site-form-page .search-form {
  margin-bottom: 30px;
}
.site-form-page .search-form .form-control {
  height: 40px !important;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
}
.site-form-page .search-form select {
  background: #EAEAEA;
}
.site-form-page .search-form input {
  padding-left: 10px;
  font-style: italic;
}
.site-form-page .search-form .relative {
  position: relative;
}
.site-form-page .search-form .relative .btn {
  border: 0;
  border-radius: 0;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  min-width: auto;
  color: #333;
}

.category ul {
  border: 1px solid #ccc;
  border-top: 2px solid #2900CD;
}
.category ul li {
  padding: 18px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.category ul li:last-child {
  border-bottom: 0;
}
.category ul li:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.category ul li:hover a {
  color: #2900CD;
}
.category ul li a {
  font-size: 14px;
  color: #000;
  display: block;
}
.category ul li .active {
  color: #2900CD;
}

.form4-content {
  padding-left: 50px;
}
.form4-content .form-group {
  margin-bottom: 40px;
}
.form4-content .form-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.form4-content .form-group input {
  height: 50px;
  border-radius: 3px;
  border: 1px solid #707070;
  padding-left: 15px;
}
.form4-content .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2900CD;
}
.form4-content .form-group textarea {
  border-radius: 3px;
  border: 1px solid #707070;
  padding-left: 15px;
}
.form4-content .form-group textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2900CD;
}
.form4-content .list-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -5px;
}
.form4-content .list-upload .col-md-custom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0px 5px;
}
.form4-content .list-upload .upload_content {
  background: #fff;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 120px;
}
.form4-content .list-upload .upload_content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form4-content .list-upload .upload_content i {
  font-size: 40px;
}
.form4-content .list-upload .upload_content .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form4-content .btn {
  height: 40px;
  line-height: 40px;
  min-width: 160px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-left: 15px;
}

@media screen and (max-width: 1199px) {
  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (max-width: 991px) {
  .form4-content {
    padding-left: 0;
  }

  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .category {
    margin-bottom: 20px;
  }

  .form4-content .form-group label {
    font-size: 15px;
  }

  .form4-content .form-group {
    margin-bottom: 20px;
  }

  .form4-content .list-upload .col-md-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .form4-content .form-group:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
  }
}