/* Home
--------------------------------------------- */
.site-slide {
  position: relative;
}
.site-slide .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.site-slide .item {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-slide .item .title {
  font-size: 32px;
  font-weight: bold;
  color: #274E82;
  margin-bottom: 15px;
}
.site-slide .item p {
  font-size: 16px;
  line-height: 1.7;
  color: #363F51;
  font-style: italic;
  margin-bottom: 0;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  z-index: 99;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots button {
  outline: none;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots button span {
  width: 35px;
  height: 3px;
  background: #79add3;
  border-radius: 0;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots .active span {
  background: #116caf;
}
.site-slide .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 100%;
}
.site-slide .site-search {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-slide .site-search form {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.site-slide .site-search form .form-control {
  height: 60px;
  font-size: 15px;
  color: #707070;
  padding-left: 10px;
  padding-right: 8px;
  background-color: #F1F1F5;
  border-color: #DCDDE4;
  border-radius: 10px;
}
.site-slide .site-search form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-color: #DCDDE4;
}
.site-slide .site-search form .selecter {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  max-width: 200px;
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/icon/down-arrow.png);
  background-size: 15px;
  background-position: 175px center;
  background-repeat: no-repeat;
}
.site-slide .site-search form input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-style: italic;
}
.site-slide .site-search form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  font-size: 20px;
  color: #707070;
  cursor: pointer;
}

.title {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title .heading {
  font-size: 24px;
  font-weight: bold;
  color: #3B3B3D;
  padding-left: 10px;
  border-left: 5px solid #2900CD;
}
.title .heading a {
  color: #3B3B3D;
}
.title .more {
  font-size: 15px;
  color: #2900CD;
}

.site-home {
  padding: 110px 0px;
}
.site-home_content_item {
  margin-bottom: 60px;
}

.row-custom {
  margin: 0px -5px;
}
.row-custom .col-custom {
  padding: 0px 5px;
}

.news {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.news .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.news .user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .user_name {
  padding-left: 15px;
}
.news .user_name .name a {
  font-size: 14px;
  color: #1E1D1D;
  display: block;
  margin-bottom: 10px;
}
.news .user_name .date-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .user_name .date-times span {
  padding-right: 10px;
  font-size: 12px;
  color: #1E1D1D;
}
.news .status {
  padding-left: 57px;
}
.news .status .description {
  margin-bottom: 15px;
}
.news .status .description p {
  font-size: 14px;
  color: #1E1D1D;
  margin-bottom: 15px;
}
.news .status .description p:last-child {
  margin-bottom: 0;
}
.news .status .startus_img {
  position: relative;
  margin-bottom: 15px;
}
.news .status .startus_img .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news .status .startus_img .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .startus_img .video .video-child {
  width: 100%;
  height: 100%;
  background: #000;
}
.news .status .startus_img .pause {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  color: #1E1D1D;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .active .video {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.news .status .active:hover .pause {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.list_news .owl-nav .owl-prev, .list_news .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0 !important;
  border: 0 !important;
  background: none !important;
  outline: none !important;
}
.list_news .owl-nav .owl-prev span, .list_news .owl-nav .owl-next span {
  display: block;
  width: 30px;
  height: 90px;
  background: rgba(41, 0, 205, 0.7);
  font-size: 30px;
  line-height: 90px;
  color: #FFFFFF;
}
.list_news .owl-nav .owl-prev {
  left: 0;
}
.list_news .owl-nav .owl-next {
  right: 0;
}

.list_news_item {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1px;
}
.list_news_item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.list_news_item .user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list_news_item .user_name {
  padding-left: 15px;
}
.list_news_item .user_name .name a {
  font-size: 14px;
  color: #1E1D1D;
  display: block;
  margin-bottom: 10px;
}
.list_news_item .user_name .date-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list_news_item .user_name .date-times span {
  padding-right: 10px;
  font-size: 12px;
  color: #1E1D1D;
}
.list_news_item .description {
  margin-bottom: 15px;
}
.list_news_item .description p {
  font-size: 14px;
  color: #1E1D1D;
  margin-bottom: 15px;
}
.list_news_item .description p:last-child {
  margin-bottom: 0;
}

.list_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list_icon a {
  padding-right: 10px;
  color: #1E1D1D;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list_icon a i {
  font-size: 17px;
}
.list_icon a:hover {
  color: #2900CD;
}
.list_icon a span {
  padding-left: 5px;
}
.list_icon a:last-child {
  padding-right: 0;
}

.site-search-word .content {
  padding-top: 35px;
}
.site-search-word .content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.site-search-word .content p {
  font-size: 14px;
  line-height: 1.5;
  color: #3b3b3b;
}

.site-support {
  background: #323A4D;
  padding: 50px 0;
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.site-support_content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.site-support_content p {
  font-size: 15px;
  margin-bottom: 30px;
  color: #fff;
  line-height: 1.5;
}
.site-support_content ul li {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 15px;
}
.site-support_content ul li:last-child {
  padding-bottom: 0;
}
.site-support_content ul li a {
  color: #fff;
}
.site-support_form .form-group {
  margin-bottom: 25px;
  position: relative;
}
.site-support_form .form-group:before {
  content: "\f2c0";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 18px;
  color: #bcbcbc;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.site-support_form .form-group:nth-child(2):before {
  content: "\f095";
}
.site-support_form .form-group:nth-child(3):before {
  content: "\f0e6";
  top: 23%;
}
.site-support_form .form-control {
  background: #545A65;
  border: 1px solid #707070;
  border-radius: 0;
  font-size: 15px;
  color: #fff !important;
  padding-left: 45px;
}
.site-support_form .form-control::-webkit-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control:-ms-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control::-ms-input-placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control::placeholder {
  color: #bcbcbc;
}
.site-support_form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.site-support_form input {
  height: 50px;
}
.site-support .btn {
  min-width: 160px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #2900CD;
  padding: 0px 20px;
  line-height: 50px;
}

@media screen and (max-width: 1199px) {
  .site-slide .item {
    height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .title .heading {
    font-size: 20px;
  }

  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .title .more {
    padding-top: 10px;
    display: block;
  }

  .list_news_item .user img {
    width: 40px;
    height: 40px;
  }

  .list_news_item .user_name .date-times span {
    font-size: 11px;
  }

  .site-slide .item {
    height: 300px;
  }

  .site-slide .site-search {
    display: none;
  }

  .site-home {
    padding: 50px 0px;
  }

  .news .status .startus_img .play img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .site-support_content, .site-search-word .content {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .site-sidebar_video_list .video {
    height: 195px;
  }

  .title .more {
    display: none;
  }

  .news .status {
    padding-left: 0;
  }
}