.scroll-top {
  display: none;
}

.active-scroll {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999;
}
.active-scroll a {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  background: #2900CD;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  border-radius: 3px;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #2900CD;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #2900CD;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

.full-search {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.8);
  left: 0;
  top: 0;
  z-index: 999999999;
  display: none;
}
.full-search .input-search {
  width: 70%;
  margin: 20% auto;
  border-bottom: 1px solid #ffff;
}
.full-search .input-search input {
  width: 100%;
  outline: none;
  background: none;
  width: calc(100% - 110px);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  padding: 20px 20px;
  border: 0;
}
.full-search .input-search input:focus {
  color: #fff;
}
.full-search .input-search input::-webkit-input-placeholder {
  color: #fff;
}
.full-search .input-search input:-ms-input-placeholder {
  color: #fff;
}
.full-search .input-search input::-ms-input-placeholder {
  color: #fff;
}
.full-search .input-search input::placeholder {
  color: #fff;
}
.full-search .input-search button {
  width: 100px;
  color: #fff;
  font-size: 20px;
  background: none;
  outline: none;
  cursor: pointer;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  padding: 20.6px 20px;
  border: 0;
}
.full-search .times-search {
  position: absolute;
  top: 50px;
  right: 50px;
}
.full-search .times-search a {
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .footer .dowload img {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer_address_custom {
    margin-top: 0;
  }

  .footer_address, .footer_menu, .footer_connect, .footer .img {
    margin-bottom: 30px;
  }

  .footer {
    padding: 30px 0px;
  }
}
