/* News
--------------------------------------------- */
.site-news-page {
  padding: 50px 0px;
}
.site-news-page_content .title {
  margin-bottom: 50px;
}
.site-news-page_content .title-page {
  margin-bottom: 30px;
}
.site-news-page_content .title-page h1 {
  font-size: 20px;
  font-weight: bold;
  color: #3b3b3b;
  text-transform: uppercase;
}
@media screen and (min-width: 1300px) {
  .site-news-page .site-news-page_content {
    padding-right: 45px;
  }
}

.blog {
  margin-bottom: 30px;
}
.blog:hover h3 a {
  color: #2900CD;
}
.blog:hover .overflow img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog .overflow {
  display: block;
  overflow: hidden;
}
.blog h3 a {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  color: #3b3b3b;
  font-weight: 600;
  margin: 20px 0px;
}
.blog p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 0;
}