/* personal-information
--------------------------------------------- */
.personal-information {
  padding: 80px 0px;
  min-height: 100vh;
}
.personal-information .xt-email {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #2900CD;
}

.sidebar_information .user {
  margin-bottom: 50px;
}
.sidebar_information .user span {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}
.sidebar_information .list_function ul li {
  padding-bottom: 35px;
}
.sidebar_information .list_function ul li:last-child {
  padding-bottom: 0;
}
.sidebar_information .list_function ul li a {
  font-size: 15px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar_information .list_function ul li a:hover {
  color: #2900CD;
}
.sidebar_information .list_function ul li a:hover i {
  color: #2900CD;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sidebar_information .list_function ul li a i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  max-width: 12%;
  color: #878CA0;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sidebar_information .list_function ul li .active {
  color: #2900CD;
}
.sidebar_information .list_function ul li .active i {
  color: #2900CD;
}

.container-label2 {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-label2:hover {
  color: #2900CD;
}
.container-label2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-label2 .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #fff;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.container-label2 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.active-check .checkmark {
  border: 0;
  background-color: #2900CD;
}
.active-check .text-color {
  color: #fff;
}
.active-check .checkmark:after {
  display: block;
}

.form_information {
  background: #fff;
  padding: 40px 85px;
}
.form_information h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.form_information label {
  font-size: 15px;
  color: #333;
}
.form_information .form-group {
  margin-bottom: 20px;
}
.form_information .form-group .form-control {
  height: 40px !important;
  border: 1px solid #B1B1B1;
  padding-left: 15px;
  font-size: 16px;
  color: #000;
  font-style: italic;
}
.form_information .form-group .form-control::-webkit-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control:-ms-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control::-ms-input-placeholder {
  color: #878CA0;
}
.form_information .form-group .form-control::placeholder {
  color: #878CA0;
}
.form_information .file-upload {
  position: relative;
  padding: 0px 30px;
  height: 40px;
  line-height: 38px;
  border-radius: 3px;
  margin-top: 15px;
}
.form_information .file-upload .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form_information.-length .form-group {
  margin-bottom: 25px;
}
.form_information.-length .form-group:last-child {
  padding-top: 30px;
}

.datepicker {
  background-image: url(../images/icon/date.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
}

@media screen and (max-width: 767px) {
  .personal-information .sidebar_information {
    margin-bottom: 30px;
  }

  .form_information {
    padding: 30px 20px;
  }

  .form_information label {
    display: block;
    margin-bottom: 15px;
  }

  .personal-information {
    padding: 50px 0px;
  }
}