/* Post details
--------------------------------------------- */
.site-post-details {
  padding: 50px 0;
}

.comment {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.comment_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.comment_form .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}
.comment_form .form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}
.comment_form .form textarea {
  background: #FAFAFA;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.comment_content_list_item {
  margin-bottom: 20px;
}
.comment_content_list_item .item {
  margin-bottom: 20px;
}
.comment_content_list_item .child_comment {
  padding-left: 65px;
}
.comment_content_list_item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.comment_content_list_item .user .img {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  max-width: 55px;
  height: 55px;
}
.comment_content_list_item .user .img a {
  display: block;
  width: 100%;
  height: 100%;
}
.comment_content_list_item .user .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment_content_list_item .user .text {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  background: #FAFAFA;
  border: 1px solid #EBEBEB;
}
.comment_content_list_item .user .text .name {
  display: block;
  margin-bottom: 10px;
}
.comment_content_list_item .user .text .name a {
  display: block;
  color: #3b3b3b;
  font-weight: bold;
  padding-left: 5px;
}
.comment_content_list_item .user .text .description {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
.comment_content_list_item .date {
  padding-left: 66px;
}
.comment_content_list_item .date ul li {
  display: inline-block;
  font-size: 14px;
  color: #000;
  padding: 0px 15px;
}
.comment_content_list_item .date ul li:last-child {
  padding-right: 0;
}
.comment_content_list_item .date ul li:first-child {
  padding-left: 0;
}
.comment_content_list_item .date ul li a {
  color: #000;
}
.comment_content_list_item .date ul li a:hover {
  color: #2900CD;
}
.comment_content_list_item .date ul .date {
  color: #B7B7B7;
}
.comment_number {
  display: block;
  font-size: 15px;
  color: #3b3b3b;
  margin-bottom: 20px;
}

.post-details_sidebar .heading {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b;
}
.post-details_sidebar_item {
  padding: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
}
.post-details_sidebar .news {
  padding: 0px;
  border-radius: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 0px #ccc;
  box-shadow: 0 0 0px #ccc;
}
.post-details_sidebar .news .user {
  margin-bottom: 10px;
}
.post-details_sidebar .news .status .description p {
  font-size: 13px;
  margin-bottom: 10px;
}
.post-details_sidebar .more {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #2900CD;
}

@media screen and (max-width: 1199px) {
  .comment_form .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }

  .comment_form .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .comment_content_list_item .date {
    padding: 0;
  }

  .comment_content_list_item .child_comment .date {
    text-align: right;
  }
  .comment_content_list_item .child_comment .date ul li {
    padding: 0px 5px;
    font-size: 13px;
  }
  .comment_content_list_item .child_comment .user .text p {
    font-size: 12px;
  }

  .comment_form .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .comment_form .form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
}