/* Sidebar
--------------------------------------------- */
.site-sidebar .heading {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid #F7F5F5;
}
.site-sidebar .heading a {
  color: #3b3b3b;
  position: relative;
}
.site-sidebar .heading a:before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2900CD;
}
.site-sidebar_partner_list .parter {
  margin-bottom: 20px;
}
.site-sidebar_partner_list .parter:last-child {
  margin-bottom: 0;
}
.site-sidebar_partner_list .parter:hover .text h3 a {
  color: #2900CD;
}
.site-sidebar_partner_list .parter .text {
  padding-left: 20px;
}
.site-sidebar_partner_list .parter .text h3 a {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  font-weight: 600;
}
.site-sidebar_video_list .video {
  position: relative;
  margin-bottom: 20px;
  height: 210px;
}
.site-sidebar_video_list .video .img-top {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-sidebar_video_list .video:last-child {
  margin-bottom: 0;
}
.site-sidebar_video_list .video .play-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-sidebar_video_list .video .play-sidebar img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.site-sidebar .advertisement {
  margin-bottom: 20px;
}
.site-sidebar .advertisement:last-child {
  margin-bottom: 0;
}
.site-sidebar_information ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #000;
}
.site-sidebar_information ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.site-sidebar_information ul li:first-child {
  padding-top: 0;
}
.site-sidebar .mb-bottom {
  margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .site-sidebar_partner_list .parter .text h3 a {
    font-size: 12px;
  }

  .site-sidebar_video_list .video {
    height: 120px;
  }
}
@media screen and (max-width: 767px) {
  .site-sidebar_partner_list .parter .text h3 a {
    font-size: 14px;
  }
}