
.site-form-page{
	padding:50px 0px;
	background:#F8F8F8;
	.search-form{
		margin-bottom: 30px;
		.form-control{
			height: 40px !important;
			border:1px solid #EAEAEA;
			border-radius: 3px;
		}
		select{
			background:#EAEAEA;
		}
		input{
			padding-left: 10px;
			font-style: italic;
		}
		.relative{
			position: relative;
			.btn{
				@include custom_radius;
				background:none;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				padding:0;
				min-width: auto;
				color: #333;
			}
		}
	}
}

.category{
	ul{
		border:1px solid #ccc;
		border-top:2px solid $color-290;
		li{
			padding:18px;
			border-bottom:1px solid #ccc;
			transition: all .3s;
			&:last-child{
				border-bottom: 0;
			}
			&:hover{
				transition: all .3s;
				a{
					color: $color-290;
				}
			}
			a{
				font-size: 14px;
				color: #000;
				display: block;
			}
			.active{
				color: $color-290;
			}
		}
	}
}

// Form 4

.form4-content{
	padding-left: 50px;
	.form-group{
		margin-bottom: 40px;
		label{
			display: block;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 600;
			color: #000;
		}
		input{
			height: 50px;
			border-radius: 3px;
			border:1px solid #707070;
			padding-left: 15px;
			&:focus{
				box-shadow: none;
				border-color: $color-290;
			}
		}
		textarea{
			border-radius: 3px;
			border:1px solid #707070;
			padding-left: 15px;
			&:focus{
				box-shadow: none;
				border-color: $color-290;
			}
		}
	}
	.list-upload{
		display: flex;
		flex-wrap: wrap;
		margin:0px -5px;
		.col-md-custom{
			flex:0 0 16.6666666667%;
			max-width: 16.6666666667%;
			padding:0px 5px;
		}
		.upload_content{
			background: #fff;
			border:1px solid #333;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			height: 120px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			i{
				font-size: 40px;
			}
			.file{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
	.btn{
		height: 40px;
		line-height: 40px;
		min-width: 160px;
		width: max-content;
		font-size: 15px;
		color: #fff;
		border-radius: 5px;
		padding:0;
		margin-left: 15px;
	}
}

@media screen and (max-width: 1199px) {
	.form4-content .list-upload .col-md-custom{
		flex:0 0 20%;
		max-width: 20%;
	}
}

@media screen and (max-width: 991px) {
	.form4-content{
		padding-left: 0;
	}
	.form4-content .list-upload .col-md-custom{
		flex:0 0 25%;
		max-width: 25%;
	}
}

@media screen and (max-width: 767px) {
	.category{
		margin-bottom: 20px;
	}
	.form4-content .form-group label{
		font-size: 15px;
	}
	.form4-content .form-group{
		margin-bottom: 20px;
	}
	.form4-content .list-upload .col-md-custom{
		flex:0 0 33.333333%;
		max-width: 33.333333%;
	}
	.form4-content .form-group:last-child{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: 20px;
	}
}