
.btn{
	height: 40px;
	padding:0;
	line-height: 40px;
	min-width: 160px;
	width: max-content;
	font-size: 15px;
	color: #fff;
	border-radius: 5px;
}

.btn-gray{
	background:#A19EAC;
}

.btn-primary{
	background:$color-290;
}

.main-page{
	background:#F8F8F8;
}

.back-post{
	margin-bottom: 30px;
	a{
		font-size: 24px;
		font-weight: bold;
		display: block;
		color: #3B3B3D;
		i{
			padding-right: 10px;
		}
	}
}