
.site-post-relateto{
	padding:0px 0px 50px;
	.title-page{
		margin-bottom:30px;
		h2{
			font-size: 20px;
			font-weight: bold;
			color: #3b3b3b;
			text-transform: uppercase;
		}
	}
}

@media screen and (max-width: 767px) {
	.the_content p{
		margin-bottom: 20px;
	}
	.site-post-relateto{
		padding-bottom: 20px;
	}
}