


.site-news-page{
	padding:50px 0px;
	&_content{
		.title{
			margin-bottom:50px;
		}
		.title-page{
			margin-bottom: 30px;
			h1{
				font-size: 20px;
				font-weight: bold;
				color: #3b3b3b;
				text-transform: uppercase;
			}
		}
	}
	@media screen and (min-width: 1300px) {
		.site-news-page_content{
			padding-right:45px;
		}
	}
}

.blog{
	margin-bottom: 30px;
	&:hover{
		h3{
			a{
				color: $color-290;
			}
		}
		.overflow{
			img{
				transform: scale(1.1);
			}
		}
	}
	.overflow{
		display: block;
		overflow: hidden;
	}
	h3{
		a{
			display: block;
			font-size: 15px;
			text-transform: uppercase;
			color: #3b3b3b;
			font-weight: 600;
			margin:20px 0px;
		}
	}
	p{
		font-size: 14px;
		color: #666;
		line-height: 1.5;
		margin-bottom: 15px;
	}
}