
.personal-information{
	padding:80px 0px;
	min-height: 100vh;
	.xt-email{
		display: block;
		margin-top: 10px;
		font-size: 14px;
		color:  $color-290;
	}
}

.sidebar_information{
	.user{
		margin-bottom: 50px;
		span{
			font-size: 16px;
			color: #333;
			margin-top:15px;
		}
	}
	.list_function{
		ul{
			li{
				padding-bottom: 35px;
				&:last-child{
					padding-bottom: 0;
				}
				a{
					font-size: 15px;
					color: #000;
					display: flex;
					align-items: center;
					&:hover{
						color: $color-290;
						i{
							color: $color-290;
							transition: all .3s;
						}
					}
					i{
						flex:0 0 12%;
						max-width: 12%;
						color: #878CA0;
						font-size: 20px;
						transition: all .3s;
					}
				}
				.active{
					color: $color-290;
					i{
						color: $color-290;
					}
				}
			}
		}
	}

}

.container-label2{
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover{
		color: $color-290;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark{
		position: absolute;
		top: 50%;
		left: 0;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border:1px solid #333;
		background:#fff;
		transform:translate(0%,-50%);
		&:after{
			content: "";
			position: absolute;
			display: none;
			left: 50%;
			top: 50%;
			width: 10px;
			height: 10px;
			background: #fff;
			border-radius: 50%;
			transform:translate(-50%,-50%);
		}
	}
	
}
.active-check{
	.checkmark{
		border:0;
		background-color: $color-290;
	}
	.text-color{
		color: #fff;
	}
	.checkmark:after{
		display: block;
	}
}

.form_information{
	background: #fff;
	padding:40px 85px;
	h3{
		font-size: 20px;
		font-weight: bold;
		color: #333;
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 1px solid #ccc;
	}
	label{
		font-size: 15px;
		color: #333;
	}
	.form-group{
		margin-bottom: 20px;
		.form-control{
			height: 40px !important;
			border:1px solid #B1B1B1;
			padding-left: 15px;
			font-size: 16px;
			color: #000;
			font-style: italic;
			&::placeholder{
				color: #878CA0;
			}
		}
	}
	.file-upload{
		position: relative;
		padding:0px 30px;
		height: 40px;
		line-height: 38px;
		border-radius: 3px;
		margin-top: 15px;
		.file{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	&.-length{
		.form-group{
			margin-bottom: 25px;
			&:last-child{
				padding-top: 30px;
			}
		}
	}
}

.datepicker{
	background-image:url(../images/icon/date.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 15px);
}

@media screen and (max-width: 767px){
	.personal-information .sidebar_information{
		margin-bottom:30px;
	}
	.form_information{
		padding:30px 20px;
	}
	.form_information label{
		display: block;
		margin-bottom: 15px;
	}
	.personal-information{
		padding:50px 0px;
	}
}