
.site-post-details{
	padding:50px 0;
}

.comment{
	padding: 20px;
	border-radius: 10px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	margin-bottom: 20px;
	&_form{
		display: flex;
		margin-bottom: 60px;
		.img{
			flex:0 0 10%;
			max-width: 10%;
		}
		.form{
			flex:0 0 90%;
			max-width: 90%;
			textarea{
				background:#FAFAFA;
				border:1px solid #EBEBEB;
				border-radius: 5px;
				padding:10px;
				font-size: 15px;
			}
		}
	}
	&_content{
		&_list{
			&_item{
				margin-bottom: 20px;
				.item{
					margin-bottom: 20px;
				}
				.child_comment{
					padding-left: 65px;
				}
				.user{
					display: flex;
					margin-bottom: 15px;
					.img{
						margin-right: 10px;
						flex:0 0 55px;
						max-width: 55px;
						height: 55px;
						a{
							display: block;
							width: 100%;
							height: 100%;
						}
						img{
							width: 100%;
							height: 100%;
							border-radius: 50%;
						}
					}
					.text{
						display: inline-block;
						border-radius: 5px;
						padding:10px 15px;
						background:#FAFAFA;
						border:1px solid #EBEBEB;
						.name{
							display: block;
							margin-bottom: 10px;
							a{
								display: block;
								color: #3b3b3b;
								font-weight: bold;
								padding-left: 5px;
							}
						}
						.description{
							font-size: 14px;
							color: #333;
							line-height: 1.5;
						}
					}
				}
				.date{
					padding-left:66px;
					ul{
						li{
							display: inline-block;
							font-size: 14px;
							color: #000;
							padding:0px 15px;
							&:last-child{
								padding-right: 0;
							}
							&:first-child{
								padding-left: 0;
							}
							a{
								color: #000;
								&:hover{
									color: $color-290;
								}
							}
						}
						.date{
							color: #B7B7B7;
						}
					}
				}
			}
		}
	}
	&_number{
		display: block;
		font-size: 15px;
		color: #3b3b3b;
		margin-bottom: 20px;
	}
}

.post-details_sidebar{
	.heading{
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;
		color: #3b3b3b;
	}
	&_item{
		padding: 20px;
		border-radius: 10px;
		background: #FFFFFF;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
		margin-bottom: 20px;
	}
	.news{
		padding: 0px;
		border-radius: 0;
		background: #FFFFFF;
		-webkit-box-shadow: 0 0 0px #ccc;
		box-shadow: 0 0 0px #ccc;
		.user{
			margin-bottom: 10px;
		}
		.status{
			.description{
				p{
					font-size: 13px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.more{
		display: block;
		text-align: center;
		font-size: 15px;
		color: $color-290;
	}
}
@media screen and (max-width:1199px) {
	.comment_form .img{
		flex: 0 0 15%;
		max-width: 15%;
	}
	.comment_form .form{
		flex: 0 0 85%;
		max-width: 85%;
	}
}

@media screen and (max-width: 767px) {
	.comment_content_list_item .date{
		padding:0;
	}
	.comment_content_list_item .child_comment{
		.date {
			text-align: right;
		}
		.date ul li{
			padding:0px 5px;
			font-size: 13px;
		}
		.user .text p{
			font-size: 12px;
		}
	}
	.comment_form .img{
		flex: 0 0 20%;
		max-width: 20%;
	}
	.comment_form .form{
		flex: 0 0 80%;
		max-width: 80%;
	}
}