

.registration{
	@include custom_background_img;
	min-height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
	@media screen and (max-width: 767px) {
		padding:30px 0px;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:rgba(2,2,2,0.2);
	}
	&_content{
		@media screen and (max-width: 991px) {
			margin-bottom: 40px;
		}
		.list-img{
			display: flex;
			align-items: center;
			margin-bottom:50px;
			a{
				margin-right: 45px;
				display: inline-block;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		h1{
			font-size: 24px;
			font-weight: 600;
			color: $color-white;
			line-height: 1.5;
		}
	}
	&_form{
		background: #fff;
		box-shadow: 0 0 10px #7f7f7f;
		padding:40px 20px;
		border-radius: 5px;
		margin-bottom: 40px;
		.row-custom{
			margin:0px -5px;
			.col-custom{
				padding:0px 5px;
			}
		}
		h2{
			text-align: center;
			font-size: 20px;
			color: #333;
			font-weight: bold;
			margin-bottom:20px;
		}
		form{
			.form-group{
				position: relative;
				margin-bottom: 15px;
			}
			.form-control{
				height: 50px;
				background:#F1F1F5;
				border:1px solid #B5B9C3;
				font-size: 14px;
				color: #878CA0;
				border-radius: 5px;
				padding-left: 10px;
				&:focus{
					box-shadow: none;
					border-color: $color-290;
					
				}
			}
			span{
				font-size: 13px;
				color: #878CA0;
				position: absolute;
				top: 50%;
				left: 10px;
				transform:translate(0,-50%);
				transition: all .3s;
				visibility: hidden;
				opacity: 0;
			}
			.focus{
				border-color: red;
			}
			.active{
				border-color: $color-290;
				background:#fff;
				&::placeholder{
					visibility: hidden;
					transition: all .3s;
					opacity: 0;
				}
				~span{
					color: $color-290;
					top: -2%;
					transform:translate(0,-50%);
					padding:5px;
					background:#fff;
					transition: all .3s;
					opacity: 1;
					visibility: visible;
				}
			}
			.btn{
				height: 40px;
				width: max-content;
				min-width:195px;
				border-radius: 5px;
				line-height: 40px;
				padding:0;
				font-size: 14px;
				color: #fff;
				background:$color-290;
			}
		}
		.directional{
			font-size: 15px;
			color: #333;
			a{
				color: $color-290;
				font-weight: bold;
				padding-left: 5px;
			}
		}

	}
	.select-region{
		h2{
			margin-bottom: 30px;
		}
		form{
			.btn{
				width: 100%;
				height: 50px;
				line-height: 50px;
			}
			.check-radio{
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.language{
		position: absolute;
		bottom: 35px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			padding:0px 20px;
			&:hover{
				color: #F7BD00;
			}
		}
		.active{
			color: #F7BD00;
		}
	}
	.forgot{
		font-size: 14px;
		color: #333;
		&:hover{
			color: $color-290;
		}
	}
}

.check{
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover{
		color: #22A064;
		input:checked ~ .checkmark{
			background-color: #22A064;
		}
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark{
		position: absolute;
		top: 50%;
		left: 0;
		height: 20px;
		width: 20px;
		border-radius: 3px;
		border:1px solid #adadad;
		background:#eff1f0;
		transform:translate(0,-50%);
		@include custom_visi_block;
		&:after{
			content: "\f00c";
			font-family: fontawesome;
			position: absolute;
			display: none;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			transform:translate(-50%,-50%);
			color: #fff;
			font-size: 14px;
		}
	}
	input:checked ~ .checkmark{
		border:0;
		background-color: #22A064;
	}
	input:checked ~ .text-color{
		color: #fff;
	}
	input:checked ~ .checkmark:after{
		display: block;
	}
}
