

.site-sidebar{
	.heading{
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom:5px solid #F7F5F5;
		a{
			color: #3b3b3b;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				bottom:-14px;
				left: 0;
				width: 100%;
				height: 5px;
				background:$color-290;
			}
		}
	}
	&_partner{
		&_list{
			.parter{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
				&:hover{
					.text{
						h3{
							a{
								color: $color-290;
							}
						}
					}
				}
				.text{
					padding-left: 20px;
					h3{
						a{
							display: block;
							font-size: 14px;
							color: #000;
							line-height: 1.5;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	&_video{
		&_list{
			.video{
				position: relative;
				margin-bottom: 20px;
				height: 210px;
				.img-top{
					height: 100%;
					object-fit: cover;
				}
				&:last-child{
					margin-bottom: 0;
				}
				.play-sidebar{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background:rgba(2,2,2,0.2);
					display: flex;
					align-items: center;
					justify-content: center;
					img{
						width: 55px;
						height: 55px;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.advertisement{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&_information{
		ul{
			li{
				padding:10px 0px;
				border-bottom:1px solid #ccc;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				color: #000;
				&:last-child{
					padding-bottom: 0;
					border-bottom: 0;
				}
				&:first-child{
					padding-top: 0;
				}
			}
		}
	}
	.mb-bottom{
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 991px) {
	.site-sidebar_partner_list .parter .text h3 a{
		font-size: 12px;
	}
	.site-sidebar_video_list .video{
		height: 120px;
	}
}

@media screen and (max-width: 767px) {
	.site-sidebar_partner_list .parter .text h3 a{
		font-size: 14px;
	}
}